body {
    margin: 0;
}

nav {
    height: 75px;
    background-color: white;
    width: 100%;
    padding: 0;
    margin-top: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

ul#nav {
    margin: 0;
}

img#logo {
    height: 75px;
}

ul#nav li {
    list-style-type: none;
    display: inline-block;
    margin: 0 50px;
    margin-top: 0;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    height: 75px;
}


main#mainbox {
    background-image: url(Images/spacex-OHOU-5UVIYQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 800px;
    width: 100%;
    align-content: center;
    vertical-align: middle;

}

div#box{
    background-color: rgba(0, 0, 0, 0.50);
    height: 800px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    align-self: center;
}
    

p#title {
    display: inline-block;
    margin-top: 200px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    align-self: center;
    align-content: center;
    max-width: 300px;
}

a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 30px;
    background-color: white;
    padding: 20px;
    text-align: center;
    align-self: center;
    align-content: center;
    max-width: 300px;
    vertical-align: middle;
    

}

p.lorem {
    max-width: 50%;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

